[Desktop Entry]
Name=CoreCAD
Comment=Focused parametric mechanical CAD modeler
GenericName=CAD Application
Exec=FreeCAD -- --single-instance %F
Terminal=false
Type=Application
Icon=org.corecad.CoreCAD
Categories=Graphics;Science;Education;Engineering;X-CNC;
StartupNotify=true
StartupWMClass=CoreCAD
MimeType=application/x-extension-fcstd;model/obj;image/vnd.dwg;image/vnd.dxf;model/vnd.collada+xml;application/iges;model/iges;model/step;model/step+zip;model/stl;application/vnd.shp;model/vrml;
